In [1]:
import dataverk as dv
import pandas as pd

In [4]:
people = [
    {'id': 1, 'name': 'Per'},
    {'id': 2, 'name': 'Hans'},
    {'id': 3, 'name': 'Olav'}
]

df = pd.DataFrame(people)

In [5]:
dp = dv.Datapackage()

In [7]:
dv.to_sql(df,'test', 'test.db', connector='SQLite')

In [8]:
df = dv.read_sql('test.db','select * from test', connector='SQLite')

2018-12-21T15:25:00.700608: B149899 {"method": "get_pandas_df", "query": "select * from test"}

In [9]:
df.head()

   index  id  name
0      0   1   Per
1      1   2  Hans
2      2   3  Olav